/*---GLOBAL CLASS---*/

* {
    padding:0px;
    margin:0px;
}
body, a {
	color:white;
	font-family: Geometria;
	font-weight:500;
	font-style: normal;

}
.hide {
	display:none !important;
}
.article {
	position: relative;
}
.article::before {
	content: "";
    display: block;
    background: #ff9300;
    position: absolute;

	z-index: -1;
}
h1 {
	font-weight: 800;
	font-size: 47px;
}
h2 {
	font-weight: 800;
	font-size: 34px;
}
h3 {
	font-weight: 800;
	font-size: 27px;
}
h4 {
	font-size:22px;
	font-weight: 800;
}
h5 {
	font-size:18px;
	font-weight:800;
}
h6 {
	font-size:14px;
	font-weight: 800;
}
h1.article::before {
	height: 32px;
	width: 32px;
	left: -5px;
	top: 5px;
}
h2.article::before {
	height: 26px;
	width: 26px;
	left: -5px;
	top: 5px;
}
h3.article::before {
	height: 20px;
	width: 20px;
	left:-10px;
}
h4.article::before {
	height: 16px;
    width: 16px;
}
h5.article::before {
	height: 12px;
    width: 12px;
}
h6.article::before {
	height: 8px;
    width: 8px;
}

/*---font---*/
@font-face {
	font-family: 'Geometria';
	src: url('Geometria.eot');
	src: local('Geometria'),
		url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Bold.woff') format('woff'),
		url('../fonts/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-ExtraBold.eot');
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraBold.woff') format('woff'),
		url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Light.eot');
	src: local('Geometria Light'), local('Geometria-Light'),
		url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Light.woff') format('woff'),
		url('../fonts/Geometria-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/*---end font---*/
<<<<<<< HEAD

=======
html, body {
	height:100%;
	width:100%;	
}
body {
	background-image: url(../img/bg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.container {
	height:100%;
	min-width:1100px;
	max-width:1355px;
	margin:0 auto;
	padding:0 20px;
	
}
>>>>>>> 41d6a6f3d30eea24f82ee57534e26b85cf9d348f

/*---HEADER SECTION---*/
header {
	padding:45px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header a {
	color:white;
	font-family: Geometria;
	font-size:18pt;
	font-weight: bold;
	text-decoration: none;
}
.logo {
	width:138px;
	height:37px;
	background-image:url(../img/Logo.png);
	background-repeat: no-repeat;

}
.logo a {
	display: block;
	width:100%;
	height:100%;
}
nav.topMenu {
	justify-items: left;
	padding-top: 4px;
}
nav.topMenu a {
	margin-left:55px;

}
.leftHeadSection {
	display:flex;
}
.LoginLink {
	position: relative;
}
.LoginLink img {
	position: absolute;
	position: absolute;
    left: -25px;
    top: 5px;
}
/*---END HEADER SECTION---*/

/*---SLIDER---*/
#slider {
	height: 540px;
	position: relative;
}
.slide {
	background-repeat: no-repeat;
	background-position: right;
	display: none;
}
.slide.active {
	display: block;
}

.slide {
	height:100%;
	width: 100%;
	position: relative;
}
.fixContent {
	width:685px;
}
.slideContent {
	position: absolute;
	top:20%;
}
.slideContent p {
	font-size:17pt;
	padding:40px 0;
}
.slButton {
	display:inline-block;
	text-decoration: none;
	padding:10px;
	background-color: #ff9300;

}
.sliderControl {
	position: absolute;
    top: 68%;
}
.sliderControl > a {
	display: inline-block;
	margin-right: 3px;
	height:10px;
	width:10px;
	background:#6a6865;
}
.sliderControl > a.active {
	background:white;
}

/*---END SLIDER---*/
/*--PAYMENTS*---*/
#payments {
	background-image: url(../img/icons/payments_icons/group.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 35%;
	padding:50px 0;
}
/*--PAYMENTS*---*/
/*---videoPreview---*/
#videoPreview {
	
	padding:100px 0;
}
.player {
	width:100%;
	height:683px;
	background-color:#ff9300;
}

/*---END videoPreview---*/
/*---NEWS---*/
.newsWrap {
	display:flex;
	justify-content: space-between;
}
.newsItem {
	width:330px;
}
.newsItem p {
	font-size: 14pt;
	font-weight: 100;
	padding:22px 0;
}
.newsItem .pubDate {
	color:#696968;
}
.allNewsWrap {
	padding:50px;
	text-align: center;
}
.allNewsWrap a {
	font-size:20px;
	font-weight: 300;
}
.allNewsWrap a img {
	padding:0 10px;
}
/*---NEWS---*/


/*---FOOTER---*/


footer a {
	text-decoration: none;
}
.footerMenu {
	list-style: none;
}
.footerMenu li  {
	padding: 5px 0;
}
.webMoneyCert {
	background-image: url(../img/icons/payments_icons/webmoney-paying-logo_crt.png);
	background-repeat: no-repeat;
	width: 192px;
	height:60px;
}
/*---FOOTER---*/

/*---MODAL---*/
#modalLayer {
	position: fixed;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;

}

.modal {
	margin:0 auto;
	width:780px;
	background: #161414;
	height: fit-content;
}
.modalWrap {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 110;
	align-items: center;
}
.modal .modalHeader {
	padding:20px;
	background: #0a0909;
	text-align:center;
	position: relative;
}
.modal .modalContent {
	padding: 20px 50px;
}
.modalHeader .modelClose a {
	display:block;
	width:16px;
	height: 16px;
	background: url(../img/icons/close.png);
	background-repeat: no-repeat;
	position: absolute;
	right:30px;
	top:30px;
}
.accord {
	padding: 25px 0;
}
.accordContent {
	display:none;
}
.accord.open .accordContent {
	display:inherit;
}
/*---MODAL---*/